    <div class="details">
    <%-include("header.ejs")%>
<%-include("nav.ejs")%>
<h1 style="text-align: center;" >Details</h1>
<div class="detailsBox">
    
    <h1> id: <%= data.id %> </h1> 
    <h1> Name: <%= data.name %>  </h1> 
    <h1> Author: <%= data.author %>  </h1> 
    <h1> Description: <%= data.description %>  </h1> 
    <h1> Pages: <%= data.pages %>  </h1> 
    <h1> Publication: <%= data.publication %>  </h1> 
    <h1> Year: <%= data.year %>  </h1> 
    <h1> Price: <%= data.price %>  </h1>
    <a href="/delete/<%= index%>">Delete</a>
    <a href="/update/<%= index%>">Update</a>
</div>

<%-include("footer.ejs")%>

</div>