<%- include('header')%>
<h1>Show</h1>
<% books.forEach(function(elem){ %>
   <h1> <%= elem.name %>  </h1> 
   <h1> <%= elem.Author %>  </h1> 
   <h1> <%= elem.Discription %>  </h1> 
<% }) %> 
<%- include('footer')%>


